// Висота шрифту назви
$mainNameFontSize:52px;

$headerTextFontSize:24px;
// Висота шрифту найменування розділів
$sectionNameFontSizeDesk:26px;

$sectionNameFontSizeTabMob:22px;

// висота шрифту кнопок
$buttonFontSize:14px;

// Висота шрифтів розділу dsworks
$cardFontNameSize:24px;

$cardFontStepSize:10px;

$cardFontTextSizeDesk:14px;


// Висота шрифтів розділу meet a partner

$partnerNameFontSize:14px;

$partnerAboutFontSize:14px;


// Висота шрифтів розділу activity ideas

$ideasFontSize:22px
